body {
  font-family: monospace;
  font-size: 20px;
  text-align: center;
  background: purple;
  color: lime;
  margin: 3em;
}

h1 {
  padding-bottom: 20px;
}

input {
  background: lime;
  color: black;
  border-radius: 10px;
  border-color: black;
  padding: 10px 15px;
  font-size: 1.2em;
  font-family: monospace;
  font-weight: bold;
}

input:active {
  background: pink;
  border-color: black;
  border: 2px;
}

div {
  display: inline-block;
}

#pzlwrap {
  position: relative;
}